<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h2>Add Product</h2>

    <form method="POST">
        <label>Product Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Price:</label><br>
        <input type="number" name="price" required><br><br>

        <label>Quantity:</label><br>
        <input type="number" name="quantity" required><br><br>

        <label>Supplier ID:</label><br>
        <input type="number" name="supplier_id" required><br><br>

        <button type="submit">Add Product</button>
    </form>

    <br>
    <a href="/dashboard">Back to Dashboard</a>
    </div>
</body>
</html>