<!DOCTYPE html>
<html>
<head>
    <title>View Suppliers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h2>Supplier List</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>

        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier[0] }}</td>
            <td>{{ supplier[1] }}</td>
            <td>{{ supplier[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="/dashboard">Back to Dashboard</a>
    </div>
</body>
</html>